<section class="lp-layer features">
    <div class="layer__inner">
        <div class="layer__header"><h2>Listen and Connect</h2></div>
        <div class="grid-column-3">
            <div class="grid_card">
                <h2>Latest episode</h2>
                <div style="width: 100%; height: 200px; margin-bottom: 20px; border-radius: 6px; overflow: hidden;"><iframe style="width: 100%; height: 200px;" frameborder="no" scrolling="no" allow="clipboard-write" seamless src="https://player.captivate.fm/show/62b701b2-7197-4210-8d77-f3f0c62a3831/latest/"></iframe></div>
            </div>
            <div class="grid_card">
                <h2>Join our newsletter</h2>
                <p>
                    <iframe
                        scrolling="no"
                        style="
                            width: 100% !important;
                            height: 220px;
                            border: 1px #ccc solid !important;
                        "
                        src="https://buttondown.com/thebootloader?as_embed=true"
                    ></iframe
                    ><br /><br />
                </p>
            </div>
            <div class="grid_card">
                <h2>Support The Bootloader</h2>
                <p>
                    <br />
                    Visit <a href="https://www.thebootloader.net/support/">
                        <span style="color: var(--clr-blue); font-weight: 600"
                        >The Bootloader's Support page</a>
                    to learn how to support the show.
                    Your financial support helps offset the <a href="https://www.thebootloader.net/support">
                        <span style="color: var(--clr-blue); font-weight: 600"
                            >
                        costs</a> of podcast hosting, audio recording, and more. Thank you for your support!
                </p>
                <a class="button" href="support">Learn more</a>
            </div>
        </div>
        <p align="center" style="margin-top: 64px">
            Copyright &copy;
            <a href="https://thebootloader.net"
                ><span style="color: var(--clr-blue); font-weight: 600"
                    >Paul Cutler and Tod Kurt</span
                ></a
            >
        </p>
    </div>
</section>
