<section class="lp-layer features">
    <div class="layer__inner">
        <div class="layer__header"><h2>About the show</h2></div>
        <div class="grid-column-3">
            <div class="grid_card">
                <h2>Follow the show</h2>
                <p>
                    Follow The Bootloader on
                    <a
                        href="https://www.circuitpythonshow.com/@thebootloader/follow"
                        ><span style="color: var(--clr-blue); font-weight: 600"
                            >Mastodon</span
                        ></a
                    >,
                    <a href="https://bsky.app/profile/thebootloader.net"
                        ><span style="color: var(--clr-blue); font-weight: 600"
                            >Bluesky</a
                    >, and
                    <a href="https://youtube.com/@thebootloader"><span style="color: var(--clr-blue); font-weight: 600"
                        >YouTube</a>.
                    Order a <a href="https://docs.google.com/forms/d/e/1FAIpQLSdbnxBVYHVAV18HNEHVie0Jxel8OL1BAgbhYVizbAIWFs5JlQ/viewform">

                    <span style="color: var(--clr-blue); font-weight: 600">free sticker! (US only)</span></a>.
                </p>
            </div>
            <div class="grid_card">
                <h2>Join our newsletter</h2>
                <p>
                    <iframe
                        scrolling="no"
                        style="
                            width: 100% !important;
                            height: 220px;
                            border: 1px #ccc solid !important;
                        "
                        src="https://buttondown.com/thebootloader?as_embed=true"
                    ></iframe
                    ><br /><br />
                </p>
            </div>
            <div class="grid_card">
                <h2>Sponsor The Bootloader</h2>
                <p>
                    Visit <a href="https://github.com/prcutler/the-bootloader">
                        <span style="color: var(--clr-blue); font-weight: 600"
                        >The Bootloader's GitHub page</a>
                    to sponsor the show.
                    Your support helps offset the <a href="https://www.circuitpythonshow.com/pages/sponsors">
                        <span style="color: var(--clr-blue); font-weight: 600"
                            >
                        costs</a> of podcast hosting, audio recording, and more. Thank you for your support!
                </p>
            </div>
        </div>
        <p align="center" style="margin-top: 64px">
            Copyright &copy;
            <a href="https://github.com/prcutler/the-bootloader"
                ><span style="color: var(--clr-blue); font-weight: 600"
                    >Paul Cutler and Tod Kurt</span
                ></a
            >
        </p>
    </div>
</section>
