<section class="lp-layer hero">
    <div class="layer__inner | even-columns">
        <!-- To change the alignment of the text & image just place the <div class="hero-image"> above "hero-text" -->
        <div class="hero-text">
            <h1>The Bootloader</h1>
            <p>
                A monthly podcast loading you up with news, project updates, and
                product talk from the maker, tech, and CircuitPython
                communities. Hosted by Paul Cutler and Tod Kurt.
            </p>
            <!-- By using data-type inverted we can create an alternative styling -->
            <a
                class="button"
                data-type="inverted"
                href="https://www.circuitpythonshow.com/@thebootloader/feed.xml"
                >Subscribe</a
            >
            <a class="button" href="episodes/">Show Notes</a>
        </div>
        <div class="hero-image">
            <img src="assets/images/tbl-600.jpg" alt="hero image" />
        </div>
    </div>
</section>
