+++
title = "The Bootloader"
linkTitle = "the-bootloader"

+++

{{< blocks/cover title="The Bootloader" image_anchor="top" height="full" color="orange" >}}
<div class="mx-auto">
	<a class="btn btn-lg btn-primary mr-3 mb-4" href="{{< relref "/blog" >}}">
		Episodes <i class="fas fa-arrow-alt-circle-right ml-2"></i>
	</a>
	<a class="btn btn-lg btn-secondary mr-3 mb-4" href="https://github.com/google/docsy-example">
		Subscribe <i class="fas fa-rss ml-2 "></i>
	</a>
	<p class="lead mt-5">Nuggets of news from the maker and tech scene.</p>
	{{< blocks/link-down color="info" >}}
</div>
{{< /blocks/cover >}}


{{% blocks/lead color="primary" %}}
A bi-weekly podcast bringing you nuggets of news, project updates and product talk from the maker and tech scene.
{{% /blocks/lead %}}

{{< blocks/section color="dark" >}}
{{% blocks/feature icon="fa-rss" title="Subscribe!" %}}
Subscribe in your [favorite podcast application or using RSS](zencastr.com/the-CircuitPython-Show).

{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-twitter" title="Follow us on Twitter!" url="https://twitter.com/prcutler" %}}
Follow us on Twitter for show news, guest updates, and more..
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-github" title="Support the show!" url="https://github.com/sponsors/prcutler" %}}
Your financial contribution using GitHub Sponsors helps cover the cost of recording, hosting, and transcriptions.  Thank you for your support!
{{% /blocks/feature %}}


{{< /blocks/section >}}

{{% blocks/lead color="primary" %}}
Have some news or something to share?  Tweet at us or email news@emailaddress.com
{{% /blocks/lead %}}


{{< blocks/section >}}

{{% blocks/feature title="About" url="/about" %}}
Learn more about the show.
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-twitter" title="Paul Cutler" url="https://twitter.com/prcutler" %}}
Follow us on Twitter for show news, guest updates, and more..
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-twitter" title="Tod Kurt" url="https://twitter.com/todbot" %}}
Follow us on Twitter for show news, guest updates, and more..
{{% /blocks/feature %}}


{{< /blocks/section >}}


