+++
title = "The Bootloader"
linkTitle = "the-bootloader"

+++

{{< blocks/cover title="The Bootloader" image_anchor="top" color="orange" >}}
<div class="mx-auto">

	<!--
	<img src="https://circuitpythonshow.com/static/thebootloader/bootloader-logo-600px.jpg" height="300" width="300">
	<p class="lead mt-5"></p>
	-->
		<a class="btn btn-lg btn-primary mr-3 mb-4" href="{{< relref "/episodes" >}}">
		Episodes <i class="fas fa-arrow-alt-circle-right ml-2"></i>
		</a>
	<a class="btn btn-lg btn-secondary mr-3 mb-4" href="https://thebootloader.net">
		Subscribe <i class="fas fa-rss ml-2 "></i>
	</a>

</div>
{{< /blocks/cover >}}


{{% blocks/lead color="primary" %}}

A bi-weekly podcast loading you up with news, project updates and product talk from the maker and tech scenes. Coming September 2022.

{{% /blocks/lead %}}

{{< blocks/section color="dark" >}}
{{% blocks/feature icon="fa-rss" title="Subscribe" %}}
Subscribe links and RSS feed coming soon!

{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-twitter" title="Follow us on Twitter" %}}
<a href="https://twitter.com/thebootloader">Follow us</a> for show news, updates, and more.
{{% /blocks/feature %}}


{{% blocks/feature title="About" url="/about" %}}
Learn more about the show and the hosts.
{{% /blocks/feature %}}


{{< /blocks/section >}}

{{% blocks/lead color="primary" %}}
Have some news or something to share?  [Tweet at us](https://twitter.com/thebootloader) or email news@thebootloader.net
{{% /blocks/lead %}}


{{< blocks/section >}}


{{% blocks/feature icon="fab fa-twitter" title="Paul Cutler"%}}
[Follow Paul](https://twitter.com/prcutler) on Twitter.
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-twitter" title="Tod Kurt" %}}
[Follow Tod](https://twitter.com/todbot) on Twitter.

{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-github" title="Support the show" url="https://github.com/sponsors/prcutler" %}}
Your financial support helps cover the cost of recording, hosting, and transcriptions.  Thank you for your support!
{{% /blocks/feature %}}


{{< /blocks/section >}}


