+++
title = "The Bootloader"
linkTitle = "the-bootloader"

+++

{{< blocks/cover title="The Bootloader" image_anchor="top" color="orange" >}}
<div class="mx-auto">


	<img src="https://github.com/prcutler/the-bootloader/blob/main/assets/images/bootloader-logo-600px.jpg?raw=true height="300" width="300">
	<p class="lead mt-5"></p>

		<a class="btn btn-lg btn-primary mr-3 mb-4" href="{{< relref "/episodes" >}}">
		Episodes <i class="fas fa-arrow-alt-circle-right ml-2"></i>
		</a>
	<a class="btn btn-lg btn-secondary mr-3 mb-4" href="https://www.circuitpythonshow.com/@thebootloader/feed.xml">
		Subscribe <i class="fas fa-rss ml-2 "></i>
	</a>

</div>
{{< /blocks/cover >}}


{{% blocks/lead color="primary" %}}

A monthly podcast loading you up with news, project updates, and product talk from the CircuitPython and maker communities. Hosted by Paul Cutler and Tod Kurt.

{{% /blocks/lead %}}

{{< blocks/section color="dark" >}}
{{% blocks/feature icon="fa-rss" title="Subscribe" %}}
<a href="https://www.circuitpythonshow.com/@thebootloader/feed.xml">Subscribe via RSS</a> or using your favorite podcast player.

{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-mastodon" title="Follow the show on Mastodon" %}}
<a href="https://www.circuitpythonshow.com/@thebootloader/follow">Follow The Bootloader on Mastodon</a> for show news, updates, and more.
{{% /blocks/feature %}}


{{% blocks/feature title="About" url="/about" %}}
Learn more about the show and the hosts.
{{% /blocks/feature %}}


{{< /blocks/section >}}

{{% blocks/lead color="primary" %}}
Have some news or something to share?  Email us at news@thebootloader.net
{{% /blocks/lead %}}


{{< blocks/section >}}


{{% blocks/feature icon="fab fa-mastodon" title="Paul Cutler"%}}
[Follow Paul](https://hachyderm.io/@prcutler) on Mastodon.
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-mastodon" title="Tod Kurt" %}}
[Follow Tod](https://mastodon.social/@todbot) on Mastodon.

{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-github" title="Support the show" %}}
Enjoy the show?  Write a review or tell a friend!
{{% /blocks/feature %}}


{{< /blocks/section >}}


